<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
 
 

<div class="main">
 
    <form action = "/upload"  method="post" enctype="multipart/form-data">
  <div class="img_upl">
    <label>Choose file to upload</label>
      <br/>

    <input class="ffile" type="file" name="file" />
      <div class="btn_s">
      <input type = "submit" value="Upload">
  </div>


  </div>
  
</form>

</div>


</body>
</html>